// main: main.less
#content-wrapper {
    padding-left: 70px;
    margin-left: 0;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 561px) {
    #content-wrapper.open-platforms {
        padding-left: 430px;
    }
}

@media only screen and (max-width: 560px) {
    #page-wrapper.open-platforms {
        padding-left: 70px;
    }
}

#page-wrapper.open-platforms #platforms-wrapper {
    left: 150px;
}

#page-wrapper.open-conversations {
    #conversations-wrapper {
        left: 250px;
    }
}